/* BASE CSS */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

h1, h2 {
  color: #9A32CD; 
  font-family: 'BenchNine', 'FatCow', sans-serif;
}

h2 { font-size: 3em; }

h3 {
  color: #9A32CD;
  font-family: 'PT Sans';
  font-size: 1.8em;
}

h1, h2, h3, h4 {
  margin: 0;
}

p, span {
  font-family: 'Raleway', 'Helvetica', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 500;
} 

div, nav, ul, li, p, span {
  box-sizing: border-box;
}

/* States */
.hidden {
  display: none;
}

/* dark orchid #9A32CD */

/* Styling elements */
.divider {
  width: 100%;
  height: 0;
  clear: both;
}

@font-face {
  font-family: 'FatCow';
  src: url('/stylesheet/fonts/fatcow.ttf') format('truetype'),
       url('/stylesheet/fonts/fatcow-italic.ttf') format('truetype');
}
