/* HOME PAGE */

.latest {
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
}

.latest h4 {
  margin-right: .4em;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  color: #444;
}

.latest .date {
  font-size: .9em;
  color: #555;
}

.latest img {
  height: 150px;
  margin-right: 10px;
  float: left;
}


/* MUSIC */

li.track {
  cursor: pointer;
  color: #9743d9;  
  line-height: 1.4em;
}

li.track:hover {
  text-decoration: underline;
}

.soundcloud {
  width: 50%;
  height: 250px;
  float: left;
}

.track-list {
  float: left;
}

.track-list::after {
  clear: both;
}

.youtube {
  width: 600px;
  height: 400px;
  margin: 3em auto 1em auto;
  display: block;
}

.video-list {
  width: 15em;
  display: block;
  margin: 0 auto;
}


/* ABOUT PAGE */
.content.about img {
  width: 300px;
  height: auto;
  float: right;
  margin: 0 0 5px 15px;
}

/* BLOG PAGE */
.post-list {
  list-style: none;
  padding-left: 0;
}
