/* HOME PAGE */

.latest {
  list-style: none;
  padding-left: 0;
}

.latest li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-right: 10px;
}

.latest img {
  height: 100px;
  float: left;
  margin-right: 10px;
}


/* MUSIC */

li.track {
  cursor: pointer;
  color: #9743d9;  
  line-height: 1.4em;
}

li.track:hover {
  text-decoration: underline;
}

.soundcloud {
  float: left;
}

.track-list {
  list-style: none;
  float: left;
}

.track-list::after {
  clear: both;
}

.youtube {
  margin: 3em auto 1em auto;
  display: block;
}

.video-list {
  width: 15em;
  display: block;
  margin: 0 auto;
}


/* ABOUT PAGE */
.content.about img {
  width: 300px;
  height: auto;
  float: right;
  margin: 0 0 5px 15px;
}

/* BLOG PAGE */
.post-list {
  list-style: none;
}
