/* HOME PAGE */

.latest {
  list-style: none;
  padding-left: 0;
}

.latest li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-right: 10px;
}

.latest img {
  height: 100px;
  float: left;
  margin-right: 10px;
}


/* MUSIC */

li.track {
  cursor: pointer;
  color: #9743d9;  
  line-height: 1.4em;
}

li.track:hover {
  text-decoration: underline;
}

.track-list {
  list-style: none;

}
